<?xml version="1.0" encoding="UTF-8"?>
<!--debug="false"关闭logback内部监控 -->
<configuration debug="false">
    <property name="LOG_PATH" value="${APP_HOME:-.}/logs"/>
    <property name="FILE_IMMEDIATE_FLUSH" value="true"/>
    <!-- 引用公共配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <jmxConfigurator/>

    <springProfile name="prod">
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.sxf" level="INFO"/>
        <logger name="com.jarvis" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- 非生产环境环境. -->
    <springProfile name="dev">
        <logger name="com.sxf" level="INFO"/>
        <logger name="com.jarvis" level="INFO"/>
        <logger name="org.axonframework" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="mysql">
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.sxf" level="INFO"/>
        <logger name="com.jarvis" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- RC环境. -->
    <springProfile name="rc">
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.sxf" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
